html {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

body {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 0.9rem;               /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
    background: var(--gray-50);        /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
    background-color: var(--gray-500);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid var(--gray-50);  /* padding вокруг плашки */
}
