html {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

body {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 0.9rem;               /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
    background: var(--gray-50);        /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
    background-color: var(--gray-500);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid var(--gray-50);  /* padding вокруг плашки */
}

.trimmed-text-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.trimmed-text-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.trimmed-text-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.trimmed-text-4 {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
